@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-lime: #cadd88;
  --text-lime: #e1e9d6;
  --white-lime: #f6f5f3;
  --footer-bg: #205B42;
  --accent-bg: #d7f4dd;
}

* {
  font-family: "Fira Sans", Helvetica, sans-serif;
}

.gradient-bg {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(151, 187, 136, 0.45) 25%, rgba(201, 247, 172, 0.30) 60%, rgba(255, 255, 255, 0))
}
